<div class="header">
    <h1>
        Dojo Weather Forecast     
    </h1>
    <div class="containerA">
            <div>
                <a href="/seattle">Seattle, WA</a>
            </div>
            <div>
                <a href="/sanjose">San Jose, CA</a>
            </div>
            <div>
                <a href="/burbank">Burbank, CA</a>
            </div>
            <div>
                <a href="/dallas">Dallas, TX</a>
            </div>
            <div>
                <a href="/dc">Washington, D.C.</a>
            </div>
            <div>
                <a href="/chicago">Chicago, Il</a>
            </div>
    </div>
</div>  
<div class="card">
        <router-outlet></router-outlet>
</div>
